{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Austin, Texas</h1>
    <p>Let's keep the city weird!</p>
  </div>
</div>
<div class="container">
  <h1>Your Guide to all Things Austin</h1>
  <p>Located in Central Texas, Austin is the capital of the state of Texas, the Lone Star State. Known for its live music, savory Tex-Mex, and booming job market, Austin is quicky becoming one of the best cities in America. This page is your guide to getting to know the city and what it has to offer.</p>
</div>

<div class="row">
  <div class="col-md-8"></div>
  {% for landmarks in landmarks.landmarks  %}
  <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
           <img src="img/landmarks/{{ landmarks.image }}" alt="" class="img-fluid">
          <h5 class="card-title">{{ landmarks.name }}</h5>
          <p class="card-text"> {{ landmarks.activities}} </p>
           <h3><a href="landmarks/{{ landmarks.slug }}.html" "="target="_blank"<button type="button" class="btn btn-outline-dark btn-lg-block">Read More</button>
           </a>
           </h3> 
        </div>
      </div>
    </div>

  {% endfor %} 
{% endblock %}