#jumbo {
    background-image: url(../img/cmc-austin-sunrise-20200614.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-emphasis-color: white;
}